<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd" id="WebApp_ID" version="3.1">
<servlet>  
<servlet-name>Register</servlet-name>  
<servlet-class>Register</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Register</servlet-name>  
<url-pattern>/Register</url-pattern>  
</servlet-mapping>  
  
<welcome-file-list>  
    <welcome-file>register.html</welcome-file>  
</welcome-file-list>  
</web-app>